.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.navbar {
  background: rgba(252, 90, 44, 0.89);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.homeHeader {
  color: #ffffff;
  font-size: 45px;
  font-weight: 100;
}

.formContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

.button {
  background-color: #5cb85c;
  border: 1px solid transparent;
  border-color: #4cae4c;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 10px;
  padding: 6px 12px;
  white-space: nowrap;
}

.forecastContainer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
}

.dayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}

.forecastHeader {
  font-size: 65px;
  color: #333333;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.date {
  font-size: 30px;
  color: #333333;
  font-weight: 100;
}

.dayIcon {
  height: 130px;
}
